

* {
margin: 0;
padding: 0;
font-family: cairo;
text-align: center;
text-decoration: none;
}
body{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #F6F6F6;
}
 
 
 
 
 
footer{
width: 100%;
height: 58px;
background: #ffbf3940;
display: flex;
justify-content: center;
align-items: center;
position: relative;

}
.banner{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
 


 
.floating-wpp-button{
    position: absolute;
    bottom: -20%;
    right: 2%;
}
.floating-wpp-button img{
height: 70px;
position: absolute;
   right: 10%;
}
@media (max-width:480px) {
    body{
        position: relative;
    }
    .container{
        display: flex;
        align-items: center;
        position: absolute;
        top: 333%;
    }
    .banner{
        width: 100%;
        object-fit: cover;
        height: 100%;
        position: relative;
    }
    .floating-wpp-button {
        position: absolute;
        bottom: -465px;
        /* right: 2%; */
    }
    .floating-wpp-button img{
    position: absolute;
       right: 10%;
    }
    footer{
        position: relative;
        top: 600px;
    }
}